<!-- <button (click)="setVisible()">{{visible? 'ocultar':'mostrar'}} </button>
@if (visible) {
<h1> {{title}} </h1>
    @if (users != undefined  && users.length > 0) {
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombres</th>
          </tr>
        </thead>
        <tbody>
          @for (user of users; track $index) {
            <tr>
              <td>{{$index+1}}</td>
              <td>{{user}}</td>
            </tr>
          }
        </tbody>
      </table>
    } @else{
      <p>No existe registro en el sistema</p>
    }
}
@else{
  <h1>lo siento la pagina no esta diponible</h1>
} -->

<button (click)="setVisible()">{{visible? 'ocultar':'mostrar'}} </button>
<div *ngIf="visible  else isFalse">
  <h1> {{title}} </h1>
  <div>Total: {{counter}}</div>
  <table *ngIf=" (users != undefined  && users.length > 0) else isEmpty">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombres</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as i">
        <td>{{i+1}}</td>
        <td>{{user}}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #isEmpty>
    <div>No existe registro en el sistema</div>
  </ng-template>
</div>

<app-counter [title]="subtitle" (counterEmmit)="setCounter($event)"></app-counter>
<ng-template #isFalse>
  <h1>pagina no disponible</h1>
</ng-template> 
