<h3 class="fs-4 d-flex justify-content-center">Detalle de la factura</h3>
@if(items.length>0){
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">producto</th>
                <th scope="col">precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Eliminar</th>
    
            </tr>
        </thead>
        <tbody>
             @for (item of items; track $index) { 
                <tr app-row-item [item]="item"  (removeEventEmitter)="onRemove($event)" ></tr>
        }
        </tbody>
    </table>
}
@else {
    <div class="alert alert-warning">No hay datos</div>
}